a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #f2f2f2;
  overflow: hidden;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #ddd;
  color: black;
}
footer {
width: 1000px;
background-color: white;
margin-top: 300px;
}






